<%- include('../header') %>
<script defer src="/js/books.js"></script>

<div class="container booksContainer">

    <input type="text" name="search" id="booksContainer__searchBox" class="booksContainer__searchBox" placeholder="Search by title, author...">
    <a class="btn" href="/books/create"><span><i class="fa fa-plus"></i></span> Create Book</a>
    <h3 class="text-center">Books</h3>
    <div id="booksContainer__tableListingContainer"></div>
</div>

<% include('../footer') %>