<%- include('../header') %>

<div class="container booksContainer">
    <form id="bookCreateForm">

        <div class="form-group">
            <label for="">Title</label>
            <input id="title" type="text" class="form-control" name="title" required>
        </div>
        <div class="form-group">
            <label for="">Author</label>
            <input id="author" type="text" class="form-control" name="author" required>
        </div>
        <div class="form-group">
            <label for="">Year</label>
            <input id="year" type="text" class="form-control" name="year"  required>
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea id="description" name="description" cols="30" rows="10" class="form-control" required></textarea>
        </div>
        <button class="btn"><span><i class="fa fa-plus"></i></span> Create Book</button>
    </form>

</div>

<script>
    const form = document.getElementById('bookCreateForm');

    form.addEventListener('submit', async function(e) {
        e.preventDefault();

        let formData = new FormData(form);
        let formObj = {};

        formData.forEach(function(value, key){
            formObj[key] = value;
        });        

        const options = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body:JSON.stringify(formObj)
        };

        const response = await fetch('/api/books', options);
        const data = await response.json();
        
        if(data.status === "success"){
            alert('Form Updated Successfully');
            window.location.href = '/';
        }
        else{
            alert('Something went wrong, please try again later');
        }

    })

</script>


<% include('../footer') %>